body {
    font-family: Arial, sans-serif;
    background-color: #474141;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#welcome_message {
    padding: 10px;
    background-color: #3a3a3a;
    color: #fff;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
    position: relative;
    margin-bottom: auto;
}

.chat-container {
    width: 100%;
    max-width: 500px;
    background-color: #2f2f2f;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: hidden;
    margin-top: 53px;
    position: absolute;
}

#message-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    overflow-y: auto;
    background-color: #3a3a3a;
}

.inputButton {
    display: flex;
    border-top: 1px solid #ddd;
    background-color: #474141;
}

#message-input {
    flex-grow: 1;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 0 0 0 8px;
    outline: none;
    background-color: #5a5a5a;
    color: #fff;
}

#send-message {
    background: #28a745;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 0 8px 0;
    transition: background 0.3s;
}

#send-message:hover {
    background: #218838;
}

#send-message:active {
    background: #1e7e34;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 14px;
    max-width: 80%;
    word-wrap: break-word;
    position: relative; /* Needed for positioning the timestamp */
}

.message.sent {
    background-color: #d1f7c4;
    align-self: flex-end;
}

.message.received {
    background-color: #ffffff;
    align-self: flex-start;
}

.message .timestamp {
    font-size: 12px;
    color: #888;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.message.received .timestamp {
    left: 10px;
    right: auto;
}

#username {
    color: #28a745;
    text-align: center;
    font-size: xx-large;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .chat-container {
        height: 90vh;
        max-width: 100%;
    }

    #message-input {
        padding: 10px;
        font-size: 14px;
    }

    #send-message {
        padding: 10px;
        font-size: 14px;
    }
}
